@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');



body 
{
    background-color: hsl(30, 38%, 92%);
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 14px;
}

.wrapper 
{
  display: grid;
  width: 100vw;
  height: 100vh;
  align-items: center;
  grid-template-columns: [left-start] 5% [center-start] 90% [right-start] 5% [end];
}

.card 
{
  display: grid;
  grid-column-start: center-start;
  background-color: hsl(0, 0%, 100%);
  height: 90%;
  border-radius: 10px;
}

.card-picture 
{
  background-image: url('./images/image-product-mobile.jpg');
  background-position: center;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-info-container 
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-info 
{
  margin-right: 7.5%;
  margin-left: 7.5%;
}

#category 
{
  font-family:'Montserrat', sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  letter-spacing: 5px;
}

#name 
{
  font-family:'Fraunces', serif;
  font-size: 30px;
  font-weight: 700;
  padding-right: 10px;
  color: hsl(212, 21%, 14%);
}

#description 
{
  font-family:'Montserrat', sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  line-height: 1.5;
  margin-right: 5%;
}

#price
{
  display: flex;
  flex-direction: row;
}

.price-big
{
  font-family:'Fraunces', serif;
  font-size: 30px;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}

.price-small 
{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  display: flex;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  margin-left: 1rem;
  align-items: center;
}

#add2cart
{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:hsl(158, 36%, 37%);
  height: 3rem;
  border-radius: 10px;
}

#add2cart:hover
{
  cursor: pointer;
}

.cart-txt
{
  margin-left: .5rem;
  font-family: 'Montserrat', sans-serif;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

.attribution 
{
    position: absolute;
    top: 99%;
    transform: translate(0, -99%);
    font-size: 12px; 
    text-align: center; 
    width: 100%;
}
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (max-width:700px) {

  .card {
    grid-template-rows: [picture-start] 40% [info-start] auto [end];
  }
}

@media screen and (min-width:701px) {
  .wrapper {
    grid-template-columns: [left-start] 1fr [center-start] 35% [right-start] 1fr;
  }

  .card {
    display: grid;
    grid-template-columns: [picture-start] 45% [info-start] auto [end];
    height: 55%;
  }

  .card-picture {
    background-image: url('./images/image-product-desktop.jpg');
    border-top-left-radius: 2.5%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 2.5% ;

  }
}




